body{
	background-color: #e3edf7;
	overflow-x: hidden;
}
.heading{
	color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4em;
    text-shadow: 1px 1px 8px grey;
    text-align: center;
}
.container {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.container .leftcontent{
	width: 50%;
	height: fit-content;
	margin: auto 0;
	float: left;
	padding-left: 6%;
	font-size: 20px;
}
.container .rightpic{
	position: relative;
	width: 37%;
	height:35vw;
	margin: auto 0;
}
.container .rightpic img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	object-fit: cover;
	border-radius: 20px;
	display: none;
}
.container::after{
	content: "";
	clear: both;
	display: table;
}
.container .leftpic{
	position: relative;
	width: 37%;
	height:35vw;
	margin: auto 0;
}
.container .leftpic img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	object-fit: cover;
	border-radius: 20px;
	padding-left: 7%;
	display: none;
}
.container .rightcontent{
	width: 50%;
	height: fit-content;
	margin: auto 0;
	float: right;
	padding-left: 3%;
	font-size: 20px;
}
@media(max-width: 800px){
	.container .leftcontent{
		font-size: 12px;
	}
	.container .rightcontent{
		font-size: 12px;
	}
}