body{
	background-color: #e3edf7;
	overflow-x: hidden;
}
.heading{
	color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4em;
    text-shadow: 1px 1px 8px grey;
    text-align: center;
}
.container {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.container .imgbox{
	position: relative;
	height: 30vw;
	width: 37%;
}
.container .imgbox img{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
	display: none;
}
.container .imgbox .title1{
	position: absolute;
	left: 200px;
	top:-300px;
	font-size: 50px;
	font-family: 'Courier New', Courier, monospace;
	text-shadow: 1px 1px 8px grey;
}
.container .imgbox .title11{
	position: absolute;
	left: 200px;
	top:-220px;
	font-size: 30px;
	font-family: 'Courier New', Courier, monospace;
	text-shadow: 1px 1px 8px grey;
}
.container .imgbox .title2{
	position: absolute;
	left: 200px;
	top:-450px;
	font-size: 50px;
	font-family: 'Courier New', Courier, monospace;
	text-shadow: 1px 1px 8px grey;
}
.container .imgbox .title22{
	position: absolute;
	left: 200px;
	top:-375px;
	font-size: 30px;
	font-family: 'Courier New', Courier, monospace;
	text-shadow: 1px 1px 8px grey;
}
.container .imgbox .title{
	position: absolute;
	left: 40px;
	top:440px;
	font-size: 50px;
	font-family: 'Courier New', Courier, monospace;
	text-shadow: 1px 1px 8px grey;
}
.container .imgbox .title12{
	position: absolute;
	left: 40px;
	top:515px;
	font-size: 30px;
	font-family: 'Courier New', Courier, monospace;
	text-shadow: 1px 1px 8px grey;
}
.Kmaan_left{
	top:310px;
}
.imgbox{
	margin: 0px 5% 330px;
}
@media(max-width: 1000px){
	.container .imgbox .title1{
	position: absolute;
	left: 100px;
	top:-300px;
	font-size: 50px;
	font-family: 'Courier New', Courier, monospace;
	text-shadow: 1px 1px 8px grey;
}
.container .imgbox .title11{
	position: absolute;
	left: 100px;
	top:-220px;
	font-size: 30px;
	font-family: 'Courier New', Courier, monospace;
	text-shadow: 1px 1px 8px grey;
}
.container .imgbox .title2{
	position: absolute;
	left: 100px;
	top:-450px;
	font-size: 50px;
	font-family: 'Courier New', Courier, monospace;
	text-shadow: 1px 1px 8px grey;
}
.container .imgbox .title22{
	position: absolute;
	left: 100px;
	top:-375px;
	font-size: 30px;
	font-family: 'Courier New', Courier, monospace;
	text-shadow: 1px 1px 8px grey;
}
.container .imgbox .title{
	position: absolute;
	left: 40px;
	top:300px;
	font-size: 50px;
	font-family: 'Courier New', Courier, monospace;
	text-shadow: 1px 1px 8px grey;
}
.container .imgbox .title12{
	position: absolute;
	left: 40px;
	top:375px;
	font-size: 30px;
	font-family: 'Courier New', Courier, monospace;
	text-shadow: 1px 1px 8px grey;
}
}
@media(max-width: 700px){
	.container{
		display: flex;
		flex-direction: column;
	}
	.Kmaan_left{
		top:100px;
		margin-bottom: 0px;
	}
	.Kmaan_right{
		top:250px;
	}
	.container .imgbox{
		height: 40vw;
		width:41%;
	}
	.container .imgbox .title1{
	position: absolute;
	left: 30px;
	top:-150px;
	font-size: 50px;
	font-family: 'Courier New', Courier, monospace;
	text-shadow: 1px 1px 8px grey;
}
.container .imgbox .title11{
	position: absolute;
	left: 30px;
	top:-80px;
	font-size: 30px;
	font-family: 'Courier New', Courier, monospace;
	text-shadow: 1px 1px 8px grey;
}
.container .imgbox .title2{
	position: absolute;
	left: 30px;
	top:-150px;
	font-size: 50px;
	font-family: 'Courier New', Courier, monospace;
	text-shadow: 1px 1px 8px grey;
}
.container .imgbox .title22{
	position: absolute;
	left: 30px;
	top:-75px;
	font-size: 30px;
	font-family: 'Courier New', Courier, monospace;
	text-shadow: 1px 1px 8px grey;
}
.container .imgbox .title{
	position: absolute;
	left: 30px;
	top:-150px;
	font-size: 50px;
	font-family: 'Courier New', Courier, monospace;
	text-shadow: 1px 1px 8px grey;
}
.container .imgbox .title12{
	position: absolute;
	left: 30px;
	top:-75px;
	font-size: 30px;
	font-family: 'Courier New', Courier, monospace;
	text-shadow: 1px 1px 8px grey;
}
}
